* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

/* DISPOSITIVOS */
.device {
  background: #1e293b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.device span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.device.online span {
  background: #22c55e;
}

.device.offline span {
  background: #ef4444;
}

/* MAPA */
.map-area {
  flex: 1;
}

#map {
  width: 100%;
  height: 100%;
}
