body {
  margin: 0;
  display: flex;
  height: 100vh;
  background: #020617;
  color: #fff;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 260px;
  background: #020617;
  padding: 15px;
  border-right: 1px solid #1e293b;
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #22c55e;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 6px;
  background: #0f172a;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1e293b;
}

#map {
  flex: 1;
}
