body {
  background: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#rua {
  width: 300px;
  height: 400px;
  background: #444;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* PERSONAGEM */
#bebado {
  width: 80px;
  height: 120px;
  background-image: url("bebado.png");
  background-size: cover;
  position: absolute;
  bottom: 20px;
  left: 110px;

  /* animação de balanço */
  animation: cambalear 0.8s infinite alternate;
}

@keyframes cambalear {
  0%   { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}

#status {
  font-size: 20px;
}
#controles {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

#controles button {
  font-size: 30px;
  padding: 15px 25px;
  border: none;
  border-radius: 50%;
  background: #ff9800;
  color: #000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#controles button:active {
  transform: scale(0.9);
  background: #ffc107;
}
