body {
  margin: 0;
  display: flex;
  height: 100vh;
  background: #020617;
  color: #fff;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 260px;
  background: #020617;
  padding: 15px;
  border-right: 1px solid #1e293b;
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #22c55e;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 6px;
  background: #0f172a;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1e293b;
}

#map {
  flex: 1;
}

.btn-add {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #020617;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
}

.modal-content h3 {
  margin-bottom: 10px;
  color: #22c55e;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: none;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  cursor: pointer;
}
